body{
    Background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                    Linear-gradient(127deg, black, black 70.71%),
                    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    margin : 0 ; 
}


nav{
    height: 70px;
    display: flex; 
  
    align-items: center; 
}
.logo{
    height: 100%;
    display: flex;
}
.navbar-links{
 
    margin: 0 0 0 18%; 
}
.nav-item{
   
    display: inline-block;
}

.nav-item a{    

    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 80px;
}

.nav-item a:hover{
    
    color: red;
}



.header{
    height: 450px;
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png");
    background-position: center;
    box-sizing: border-box;
}

.header h1{
    margin-top: 0;
    font-size: 6em;
    font-family: 'Bree Serif', serif;
    color: #fff;
    position: relative; 
       
    
    text-align: center;
    text-shadow: 5px 2px rgb(12, 11, 11);
}

.courses{
    margin-top: 5%;
}

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.row img{
    margin-right: 4% ;
}

.courses-form{
    text-align: center;
    margin: 20px 0;
}

.courses-form h4{
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 30px;
}

.buttons{
    margin-bottom: 20px;
}


/* Contact */ 

.input-groupe{
    text-align: center;
    color: white;
}

.input-contact{
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 20px;
    border-radius:5px ;
}

.contact-form{
    margin: 30px 0 ;
}

.submit{
    width: 80px;
    height: 29px;
    margin-top: 10px;
    border-radius: 3px ;
    background-color: #337ab7 ;
    border-color: #337ab7;
    color: white;
}